.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #27292a;
  padding-left: 5%;
  padding-right: 10%;
  overflow: visible;
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}

.left {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  min-width: 300px;
  padding: 2% 0 2% 0;
}

.right {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  min-width: 350px;
}

.letter {
  color: #ffffff;
  font-family: "Arial";
  text-align: left;
  font-size: 18px;
}

.title {
  color: #ffffff;
  font-family: "Arial";
  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: 10%;
}

.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.click:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

body {
  height: 100%;
  background-color: #27292a !important;
}
